Redirect 301 /moving_rock.html http://www.mikeshaulandtractor.com/rock-moving.html
Redirect 301 /retaining_walls.html http://www.mikeshaulandtractor.com/retaining-walls.html
Redirect 301 /berm_removal.html http://www.mikeshaulandtractor.com/grading.html
Redirect 301 /brush_cutting.html http://www.mikeshaulandtractor.com/brush-removal.html
Redirect 301 /asphalt_removal_pictures.html http://www.mikeshaulandtractor.com/asphalt-application-and-removal.html
Redirect 301 /contact.html http://www.mikeshaulandtractor.com/contact.php
Redirect 301 /stump_removal.html http://www.mikeshaulandtractor.com/stump-removal.html
Redirect 301 /playground_renovation.html http://www.mikeshaulandtractor.com/playground-renovation.html
Redirect 301 /deck_removal.html http://www.mikeshaulandtractor.com/deck-removal.html
Redirect 301 /tree_removal.html http://www.mikeshaulandtractor.com/tree-removal.html
Redirect 301 /yard_waste_removal.html http://www.mikeshaulandtractor.com/hauling-yard-waste.html
Redirect 301 /excavation.htm http://www.mikeshaulandtractor.com/earthmoving.htm
Redirect 301 /excavation.html http://www.mikeshaulandtractor.com/earthmoving.html
Redirect 301 /tree-removal.html http://www.mikeshaulandtractor.com/tree-maintenance.html
Redirect 301 /tree_removal.html http://www.mikeshaulandtractor.com/tree_maintenance.html



